<h1>Todo</h1>

<div class="todo">
  <input type="text" #inputTodo (keydown.enter)="addTodos()">
  <button mat-button color="primary" (click)="addTodos()">Add</button>
  <button mat-button color="primary" (click)="deleteAll()">Delete All</button>
</div>

<div class="todoList">
  <ul *ngFor="let todo of todos">
    <li>{{todo.text}} 
      <button class="delete" mat-raised-button color="primary" (click)="deleteTodo(todo)">Delete</button>
    </li>
  </ul>
</div>

<!-- <div class="material-list">
  <mat-list role="list" *ngFor="let todo of todos">
    <mat-list-item role="listitem">{{todo.text}} 
      <button mat-raised-button color="primary" (click)="deleteTodo(todo)">delete</button>
    </mat-list-item>
  </mat-list>
</div> -->